
/* Styling when browser is too small */
.temporary {
    width: 700px;
    height: 100px;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.browserWarning {
    font-weight: 200;
}

/* Page Styling */
body {
    background-color: #f9f9f9;
}

.page-header {
    cursor: default;
    /*padding-top: 10px;*/
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: #fff;
    margin: initial;
    border-bottom: initial;
    /*box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);*/
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.35);
}

h1.title {
    margin-left: 3%;
    font-weight: 300;
    font-size: 42px;
    display: inline-block;
}

h1.title a {
    text-decoration: none;
    color: inherit;
}

small.subtitle {
    font-size: 22px;
    font-weight: 200;
}

.goBack {
    color: #5d5d5d;
    font-size: large;
    font-weight: 200;
}

.goBack:hover, .goBack:focus {
    color: #5d5d5d;
}

.searchbar {
    float: right;
    position: relative;
    width: 260px;
    display: inline-block;
    margin-right: 2%;
    margin-top: 2%;
}

.form-control:focus {
    border-color: #505050;
    box-shadow: inset 0 1px 1px rgba(250, 250, 250, 0.075), 0 0 8px rgba(250, 250, 250, 0.6);
}

.btn:focus, .btn:active {
    outline: none !important;
}

input, input[type="search"]{
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-width: 1px 1px 1px 1px !important;
    /*padding: 10px !important;*/
}

div.search {
    left: initial !important;
    width: 296px;
    max-height: 500px;
    overflow-y: scroll;
}

.state-list {
    max-height: 240px;
    overflow-y: scroll;
}

.resultsUlList {
    list-style: none;
    padding: 0 0 0 0;
}

.liElement:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

ul.resultsUlList {
    margin-bottom: 0;
}

.resultsUlList li {
    padding: 3px 20px;
}

.placeholder {
    color: #a7a7a7;
    font-weight: 200;
    font-size: 18px;
    margin-top: 16px;
    margin-left: 12px;
    display: inline-block;
}

.content {
    overflow-y: scroll;
    /*height: 400px;*/
    height: 355px;
}

.regular {
    text-align: center;
    color: #505050;
    font-weight: 200;
    /*margin: 20px;*/
}

.temp {
    text-align: center;
    color: #a7a7a7;
    font-weight: 100;
    /*margin: 20px;*/
    cursor: default;
}

#numSchools {
    font-weight: 300;
    color: #505050;
}

.school_name {
    text-align: left;
    color: #6d7993;
}

.school_name:hover {
    cursor: pointer;
}

p#loc {
    text-align: left;
    color: #505050;
    font-weight: 200;
}

#map {
    float: left;
    position: relative;
    margin-left: 2%;
    /*width: 772px;*/
    /*height: 502px;*/
    width: 722px;
    height: 452px;
}

.info {
    float: right;
    position: relative;
    margin-right: 2%;
    margin-bottom: 4%;
    width: 368px;
    /*height: 502px;*/
    height: 450px;
    background-color: #fff;
    /*border-radius: 4px;*/
    /*border: 1px solid #e5e5e5;*/
    box-shadow: 0 1px 6px rgba(0,0,0,0.35);
}

.combo {
    display: inline-block;
    vertical-align: middle;
}

button.x {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

p.title {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 5px;
    font-weight: 100;
    text-align: center;
    opacity: 0;
}

.school_selector {
    border: 1px solid white;
    width: 100%;
    /*height: 77px;*/
    height: 68px;
}

.school_selector h3 {
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 0;
}

.school_selector p#loc {
    font-size: 12px;
    margin-left: 15px;
    margin-top: 2px;
}

button.cancel {
    vertical-align: text-bottom;
    margin-top: 16px;
    margin-right: 40px;
    display: inline-block;
    padding-left: 10px;
}

button:focus {
    outline: none;
}

.selection_area {
    margin: 0 2% 10px 2%;
    font-weight: 200;
}

.selection_area>p {
    margin-bottom: 4px;
}

.label_holder {
    width: 68%;
    display: inline-block;
    vertical-align: middle;
}

.button_holder {
    width: 31%;
    display: inline-block;
    vertical-align: middle;
}

button.combo {
    /*display: inline-block;*/
    /*margin-bottom: 20px;*/
}

.btn[disabled] {
    cursor: initial;
    opacity: 0;
}

.label {
    display: inline-block;
    line-height: normal;
    margin: 0 2px;
}

button.deselect {
    float: left;
    vertical-align: middle;
    font-size: 16px;
    margin-right: 4px;
    line-height: 0.6;
}


/* Map Styling */
.background {
    fill: none;
    pointer-events: all;
}

.state { /* each individual state */
    transition: fill 0.5s ease;
}

.state:hover {
    /*fill: #c6c6c6;*/
    /*fill: #c4d1c4;          !* light green hover *!*/
    fill: #576075;          /* dark blue hover */
}

#states {
    /*fill: #dbdbdb;*/
    /*fill: #d2dcd2;          !* light green map *!*/
    /*fill: #4c495a;          !* dark grey map *!*/
    fill: #6d7993;          /* dark blue map */
}

#state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

.dots {
    /*fill: #464646;          !* light green map: dark grey dots*!*/
    /*fill: #c06c84;          !* dark grey map: pink dots *!*/
    /*fill: #efefef;          !* dark blue map: off white dots *!*/
    fill: #f4decb;          /* dark blue map: sandy dots */
    /*stroke: #585858;*/
    opacity: 0.95;
    cursor: pointer;
}



/* Charts Page Styling */
.chartbox {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    /*border: 1px solid #e5e5e5;*/
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    /*height: 902px;*/
    padding: 20px;
    background-color: #fff;
    /*border-radius: 4px;*/
}

.card {
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    box-shadow: 0 1px 6px rgba(0,0,0,0.35);
    background-color: #fff;
}

.clear {
    clear: both;
}

.small-card {
    margin-top: 2%;
    /*margin-left: 2%;*/
    /*margin-right: 2%;*/
    margin-bottom: 2%;
    box-shadow: 0 1px 6px rgba(0,0,0,0.35);
    background-color: #fff;
    height: 575px;
    width: 47%;
}

.left {
    margin-left: 2%;
    float: left;
    position: relative;
}

.right {
    margin-right: 2%;
    float: right;
    position: relative;
}

.card-title {
    padding-top: 1px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f2f2f2;
}

.heading {
    color: #5d5d5d;
    margin-left: 25px;
    font-weight: 400;
}

.spacing {
    margin-top: 50px;
}

.bottom-space {
    margin-bottom: 4%;
}

hr.hr-style {
    width: 300px;
    margin-left: 0;
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
}

.table_div {
    /*margin-top: 1%;*/
    /*margin-bottom: 70px;*/
    padding: 35px 20px 20px 20px;
}

.table.no-border tr td, .table.no-border tr th {
    border-width: 0;
}

td {
    white-space:pre
}

.toolTip {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    width: auto;
    height: auto;
    background: none repeat scroll 0 0 rgba(71,71,71,0.88);
    border: 0 none;
    border-radius: 3px;
    /*box-shadow: 3px 3px 15px 2px #000;*/
    box-shadow: 0 1px 6px rgba(0,0,0,0.45);
    color: white;
    font: 12px sans-serif;
    padding: 5px;
    text-align: center;
    z-index: 10;
}

.axis {
    font: 10px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.adm-bar {
    fill: #48d148;
    opacity: 0.60;
    transition: opacity 0.5s ease;
}

.adm-bar:hover {
    /*fill: #3aad3a;*/
    opacity: 1;
}

.ret-bar {
    fill: #6961ff;
    opacity: 0.6;
    transition: opacity 0.5s ease
}

.ret-bar:hover {
    /*fill: #514bc6;*/
    opacity: 1;
}

.SAT_div {
    /*margin-top: 20px;*/
}

.ACT_div {
    /*float: right;*/
    /*position: relative;*/
    /*margin-bottom: 70px;*/
    /*margin-right: 15px;*/
}

.admission_div {
    /*float: left;*/
    /*position: relative;*/
    /*margin-bottom: 70px;*/
}

.retention_div {
    /*float: right;*/
    /*position: relative;*/
    /*margin-bottom: 70px;*/
    /*margin-right: 15px;*/
}

.ratio_div {
    padding: 3% 0;
    width: 100%;
    text-align: center;
}

.pie-container {
    display: inline-block;
}

.earnings_div {
    margin-top: 20px;
}

.inner-addon {
    position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0;}
.right-addon .glyphicon { right: 0;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.back-top {
    margin: 1.5em auto 2.8em;
    text-align: center;
    width: 100px;
}

.back-top .arrow-up a {
    display: inline-block;
    position: relative;
    font-size: 1.2em;
    cursor: pointer;
    bottom: 0;
    border: 1px solid #626262;
    border-radius: 5em;
    width: 53px;
    height: 53px;
    line-height: 50px;
    z-index: 10;
    color: #626262;
    text-decoration: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

/* Icon Wobble Vertical */
@-webkit-keyframes hvr-icon-wobble-vertical {
    16.65% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
    33.3% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes hvr-icon-wobble-vertical {
    16.65% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
    33.3% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
.hvr-icon-wobble-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    padding-right: 2.2em;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-icon-wobble-vertical:before {
    content: "\f062";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.hvr-icon-wobble-vertical:hover:before, .hvr-icon-wobble-vertical:focus:before, .hvr-icon-wobble-vertical:active:before {
    -webkit-animation-name: hvr-icon-wobble-vertical;
    animation-name: hvr-icon-wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}